[build-system]
requires = ["setuptools>=77", "packaging>=24.2"]
build-backend = "setuptools.build_meta"

[project]
name = "planargs"
version = "0.1.0"
description = "PlanarGS: High-Fidelity Indoor 3D Gaussian Splatting guided by planar priors"
readme = "README.md"
requires-python = ">=3.11,<3.12"
license = "MIT"
authors = [{ name = "SJTU-ViSYS-team" }]
dependencies = [
  "torch",
  "torchvision",
  "torchaudio",
  "roma",
  "gradio",
  "matplotlib",
  "opencv-python",
  "scipy",
  "einops",
  "trimesh",
  "tensorboard",
  "plyfile",
  "open3d",
  "lpips",
  "transformers",
  "yapf",
  "pycocotools",
  "timm",
  "simple-knn",
  "pytorch3d",
  "diff-plane-rasterization",
  "viser",
  "nerfview>=0.1.3",
  "splines>=0.3.3",
  "jaxtyping>=0.3.7",
]

[tool.uv.pip]
extra-index-url = ["https://download.pytorch.org/whl/cu121"]

[tool.uv.sources]
simple-knn = { path = "submodules/simple-knn", editable = true }
pytorch3d = { path = "submodules/pytorch3d", editable = true }
diff-plane-rasterization = { path = "submodules/diff-plane-rasterization" }

[tool.setuptools]
package-dir = { "" = "src" }

[tool.setuptools.packages.find]
where = ["src"]
include = ["planargs", "planargs.*"]

